body {
  margin: 0
}
div.nav {
  width: 100%;
  height: 50px;
  background-color: #343a40 !important;
  color: white;
  margin: 0;
  padding: 10px;
  font-size: 1.5em;
}

div.main-container {
  margin: 10
}


/* Style the list */
li {
  font-size: 1.5em;
  margin: 10px;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }